.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 1rem;
  margin: 0;
}

.login {
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 50%;
}

.login.loading {
  background-color: orange;
}

.login.loaded {
  background-color: greenyellow;
}